@use '../_layout/vars' as vars;
@use '../_layout/mixins' as mixin;

.pricing{
    width: 100vw;
    height: 100vh;
    @include mixin.flex(flex-start,center,column);

    &__head{
        background: url('../../images/pattern-circles.svg') no-repeat center;
        text-align: center;

        
    }

    &__h1{
        font-size: 2rem;
        font-weight: 800;
        margin: 5.5rem 0 .3rem 0;
        color: map-get(vars.$blues,"dark");

        @include mixin.mediaMovil(){
            font-size: 1.2rem;
        }
    }

    &__sub{
        font-size: .9rem;
        margin-bottom: 5rem;
        color: map-get(vars.$blues,"text");

        @include mixin.mediaMovil(){
            font-size: .8rem;
            padding: 0 6.5rem;
        }
    }

    &__container{
        @include mixin.flex(center,center,column);
        background-color: vars.$white;
        width: 40%;
        height: min-content;
        padding: 2rem;
        border-radius: .5rem;
        box-shadow: 0px 5px 10px rgba(0,0,0,.5);

        @include mixin.mediaMovil(){
            width: 85%;
        }
    }

    &__top{
        @include mixin.flex(space-between,center,row);
        width: 100%;
        margin-bottom: 1.2rem;

        @include mixin.mediaMovil(){
            @include mixin.flex(space-between,center,column);
            height: 100%;
        }
    }

    &__h3{
        font-size: .85rem;
        color: map-get(vars.$blues,"text");
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }

    &__p{
        color: map-get(vars.$blues,"text");
        font-size: .9rem;
    }

    &__progress{
        width: 100%;
        color: map-get(vars.$blues,"grayish");
    }

    &__bar{
        width: 100%;
        background-color: vars.$cyan-soft;
        background: linear-gradient(to right, 
        vars.$cyan-soft 0%,
        vars.$cyan-soft 50%, 
        map-get(vars.$blues,"grayish") 0%,
        map-get(vars.$blues,"grayish") 100%);
        appearance: none;
        height: .5rem;
        border-radius: .4rem;
        outline: none;

        &::-webkit-slider-thumb{
            -webkit-appearance: none;
            width: 2rem;
            height: 2rem;
            background: url('../../images/icon-slider.svg') no-repeat 50% 50%;
            background-color: vars.$cyan-strong;
            border-radius: 50%;
            cursor: pointer;
            padding: 1.1rem;
            box-shadow: 0px 5px 20px vars.$cyan-strong;
        }
    }

    &__div{
        @include mixin.flex(flex-end,center,row);
        width: 100%;
        margin: 3rem 2.5rem 3rem 0;

        & > .pricing__p{
            margin-left: 1rem;
        }

        @include mixin.mediaMovil(){
            @include mixin.flex(center,center,row);
            margin: 3rem 0;

            & > .pricing__p{
                font-size: .8rem;
                margin-left: 0;
            }
        }
    }

    &__discount{
        margin-left: .6rem;
        background-color: vars.$red-grayish;
        color: vars.$red-light;
        font-size: .7rem;
        padding: .2rem .4rem;
        border-radius: 1rem;
        font-weight: 600;

        @include mixin.mediaMovil(){
            margin-left: 0rem;
            & > span{
                display: none;
            }
        }
    }

    &__switch{
        margin: 0 .3rem 0 1.2rem;
        position: relative;
        height: 1.3rem;
        width: 2.7rem;
        border-radius: 1rem;
        background-color: map-get(vars.$blues,"toggle");
        cursor: pointer;

        @include mixin.mediaMovil(){
            margin: 0 .4rem;
        }
    }

    &__check{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        
        &:checked + .pricing__slider{
            transform: translateX(-1rem);
        }
    }

    &__slider{
        width: 1rem;
        height: 1.02rem;
        border-radius: 50%;
        background-color: vars.$white;
        position: absolute;
        top: .15rem;
        left: .15rem; 
        transition: .5s;
    }

    &__line{
        width: 115%;
        height: .1rem;
        background-color: map-get(vars.$blues,"toggle");
    }

    &__bottom{
        @include mixin.flex(space-between,center,row);
        width: 100%;
        margin-top: 1.5rem;

        @include mixin.mediaMovil(){
            @include mixin.flex(space-between,center,column);
            text-align: center;
        }
    }

    &__button{
        padding: .8rem 3rem;
        border-radius: 3rem;
        background-color: map-get(vars.$blues,"dark");
        color: map-get(vars.$blues,"pale");
        font-size: .8rem;
        font-weight: 800;

        @include mixin.mediaMovil(){
            margin-top: 2rem;
        }
    }

    &__icon{
        width: .7rem;
        display: inline;
        vertical-align: middle;
        margin-right: 1rem;
    }
}